@import url('https://fonts.googleapis.com/css?family=Gothic+A1:200');

@media (max-width: 950px) {
  body {
    width: 450px !important;
  }

}

body {
  font-family: 'Gothic A1', sans-serif;
  color: #3884c9;
  width: 900px;
  margin: 0 auto;
  background-color: #dddddd;
}

h1 {
  text-align: center;
  padding-left: 0;
}

h2 {
  padding-left: 10px;
}

h3 {
  margin-top: 70px;
}

h4 {
  margin-top: -20px;
  font-style: italic;
  text-align: center;
}

p {
  padding-left: 20px;
}

a {
  color:inherit;
  font-weight: 900;
}

.cross {
  text-decoration: line-through;
}

.big {
  font-size: 20px;
  font-weight:800;
}

.bigger {
  font-size: 22px;
  display: block;
  padding-bottom: 10px
}

.biggest {
  font-size: 30px;
}

code {
  white-space: pre-wrap;
  margin-left: 30px;
  background-color: #777;
  color: #fff;
  padding: 10px;
}

.footer {
  position:absolute;
  bottom:0;
  height:40px;

}
